<!DOCTYPE html>
<html>

<head>
    <title>영화검색</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div>
        <h1>
            영화검색
        </h1>
        <h3>
            201813339 도준형
        </h3>
    </div>

    <form action="/" method="post">
        검색어 : <input type="text" name="query" required> 
        <input type="submit" value="검색">
        <br>
        <label><input type="radio" name="searchby" value="mvname" checked> 영화제목</label>
        <label><input type="radio" name="searchby" value="drname"> 감독 이름</label>
        <label><input type="radio" name="searchby" value="acname"> 배우 이름</label>
        <br>
        <label><input type="number" name="year" min="1895" max="2030"> 연도 검색 </label>
        <br>
        <label><input type="radio" name="orderby" value="name">이름순</label>
        <label><input type="radio" name="orderby" value="year">연도순</label>
        <label><input type="radio" name="orderby" value="rating">평점순</label>
        <label><input type="radio" name="orderby" value="watched" checked>평가 많은순</label>
        <br>

        <label><input type="radio" name="genrefilter" value="noapply" checked>없음</label>
        {% for genre in all_genre %}
        <label><input type="radio" name="genrefilter" value="{{genre}}">{{genre}}</label>
        {% endfor %}
        <br>

        <label><input type="radio" name="countryfilter" value="noapply" checked>없음</label>
        {% for ctr in all_country %}
        <label><input type="radio" name="countryfilter" value="{{ctr}}">{{ctr}}</label>
        {% endfor %}
        <br>

        <label><input type="radio" name="gradefilter" value="noapply" checked>없음</label>
        {% for grade in all_grade %}
        <label><input type="radio" name="gradefilter" value="{{grade}}">{{grade}}</label>
        {% endfor %}
        <br>

    </form>

    <div>
        {% for movie in movie_list %}
        <div class="twocolgrid card_static">
            <img class="poster" src="{{ movie.poster_url }}" alt="" height="270"
                onerror="this.onerror=null; this.src='https://ssl.pstatic.net/static/movie/2012/06/dft_img203x290.png'">
    
            <div class="movie_short_info_ex_container">
                <div>
                    {{ movie.mv_name }}
                    {% if movie.altname is not none and movie.altname | length > 0 %}
                    ({{movie.altname}})
                    {% endif %}
                </div>
    
                <div class="point">
                    {% if movie.netizen_rating is not none %}
                    <span>{{ movie.netizen_rating }}점</span>
                    {% if movie.netizen_rating_num is not none %}
                    <span>({{ movie.netizen_rating_num}}명 참여)</span>
                    {% endif %}
                    {% endif %}

                    
                </div>
    
                <div>
                    {% if movie.genre is not none and movie.genre | length > 0 %}
                    {{ movie.genre }}
                    {% endif %}
                </div>
                <div class="etc">
                    {% if movie.countries is not none and movie.countries | length > 0 %}
                    {{movie.countries}}
                    {% endif %}

                    {% if movie.mv_year is not none %}
                    | {{ movie.mv_year }}
                    {% endif %}
                </div>

                {% if movie.directors is not none and movie.directors | length > 0 %}
                <div class="etc">
                    감독 : {{movie.directors}}
                </div>
                {% endif %}

                {% if movie.actors is not none and movie.actors | length > 0 %}
                <div>
                    출연 : {{movie.actors}}
                </div>
                {% endif %}

                <a href="/detail?mvcode={{ movie.mv_code }}">자세히</a>
            </div>
        </div>
        {% endfor%}
    </div>
</body>

</html>