<!DOCTYPE html>
<html>

<head>
    <title>영화검색</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div>
        <h1>
            영화검색
        </h1>
        <h3>
            201813339 도준형
        </h3>
    </div>

    <form action="/" method="post">
        검색어 : <input type="text" name="query">
        <input type="submit" value="검색">
    </form>

    <div>
        {% for movie in movie_list %}
        <div class="twocolgrid card_static">
            <img class="poster" src="{{ movie.poster_url }}" alt="" height="270"
                onerror="this.onerror=null; this.src='https://ssl.pstatic.net/static/movie/2012/06/dft_img203x290.png'">
    
            <div class="movie_short_info_ex_container">
                <div>
                    {{ movie.mv_name }}
                    {% if movie.altname is not none and movie.altname | length > 0 %}
                    ({{movie.altname}})
                    {% endif %}
                </div>
    
                <div class="point">
                    <span class="star"><em class="view_star" style="width:87.2%"></em></span><em class="num">8.72</em>
                    <em class="cuser_cnt">(참여 18728명)</em>
                </div>
    
                <div>
                    {% if movie.genre is not none and movie.genre | length > 0 %}
                    {{ movie.genre }}
                    {% endif %}
                </div>
                <div class="etc">
                    {% if movie.countries is not none and movie.countries | length > 0 %}
                    {{movie.countries}}
                    {% endif %}
                    |
                    2016
                </div>
                <div class="etc">감독 : {% if movie.directors is not none and movie.directors | length > 0 %}
                    {{movie.directors}}
                    {% endif %}
                </div>
                <div>
                    출연 : {% if movie.actors is not none and movie.actors | length > 0 %}
                    {{movie.actors}}
                    {% endif %}
                </div>
    
                <a href="/detail?mvcode={{ movie.mv_code }}">자세히</a>
            </div>
        </div>
        {% endfor%}
    </div>
</body>

</html>