<!DOCTYPE html>
<html>

<head>
    <link href="./css/main.css" rel="stylesheet" />
    <title>영화검색</title>
</head>

<body>
    <div>
        <h1>
            영화검색
        </h1>
        <h3>
            201813339 도준형
        </h3>
    </div>

    <h1>
        {{movie.mv_name}}
    </h1>
    {% if movie.altname is not none and movie.altname | length > 0 %}

    <h2>
        {{movie.altname}}
    </h2>
    {% endif %}

    
        {% if directors | length > 0 %}
        <div>
            {% for dir in directors %}
                <span style="background:yellow">
                    {{ dir.dr_name }} 
                </span>
                &nbsp;
            {% endfor %}
        </div>
        {% endif %}
    </div>

</body>

</html>