<!DOCTYPE html>
<html>

<head>
    <title>영화검색</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div>
        <p>
            영화검색 201813339 도준형
        </p>
            
    </div>

    <h1>
        {{movie.mv_name}}
    </h1>
    {% if movie.altname is not none and movie.altname | length > 0 %}

    <h2>
        {{movie.altname}}
    </h2>
    {% endif %}


    <div style="display:block;" >
        <h3>
            Short Info
        </h3>

        <p style="display: inline;">
            <img src="{{ movie.poster_url }}" alt="" width="180" height="270" style="
            vertical-align:middle;
            display:inline-block;"
                onerror="this.onerror=null; this.src='https://ssl.pstatic.net/static/movie/2012/06/dft_img203x290.png'">
        </p>

        <div style="display:inline-block">
        {% if directors | length > 0 %}
        <div>
            감독 :
            {% for dir in directors %}
            <span style="background:yellow">
                {{ dir.dr_name }}
            </span>
            &nbsp;
            {% endfor %}
        </div>
        {% endif %}

        {% if actors | length > 0 %}
        <div>
            출연 :
            {% for act in actors %}
            <span style="background:gray">
                {{ act.ac_name }}
            </span>
            &nbsp;
            {% endfor %}
        </div>
        {% endif %}

        {% if genres | length > 0 %}
        <div>
            장르 :
            {% for gen in genres %}
            <span style="background:aquamarine">
                {{ gen.genre }}
            </span>
            &nbsp;
            {% endfor %}
        </div>
        {% endif %}

        {% if countries | length > 0 %}
        <div>
            국가 :
            {% for con in countries %}
            <span style="background:aquamarine">
                {{ con.country }}
            </span>
            &nbsp;
            {% endfor %}
        </div>
        {% endif %}
        </div>

        
    </div>

    {% if movie.story | length > 0 %}
    <h3>
        줄거리
    </h3>
    <p>
        {{ movie.story }}
    </p>
    {% endif %}

    {% if actors | length > 0 %}
    <h3>배우</h3>
        <div>
            {% for act in actors %}
            <div class="card" style="display:inline-block; width: max-content; ">
                <img src="{{ act.img_url }}" alt="" width="90" height="135" style="
                                vertical-align:middle;
                                display:inline-block;
                                "
                    onerror="this.onerror=null; this.src='https://ssl.pstatic.net/static/movie/2012/06/dft_img203x290.png'">
                <ul style="display:inline-block;">
            
                    <li>이름 : {{act.ac_name}}</li>
                    {% if act.ac_role is not none %}
                    <li>배역 : {{act.ac_role}}</li>
                    {% endif %}
                    <li>{%if act.ismain == 1 %} 주연 {% else %} 조연 {% endif %}</li>
            
                    </ul>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if directors | length > 0 %}
    <h3>감독</h3>
        <div>
            {% for dir in directors %}
            <div>
                <img src="{{ dir.img_url }}" alt="" width="180" height="270" style="
                    vertical-align:middle;
                    display:inline-block;"
                        onerror="this.onerror=null; this.src='https://ssl.pstatic.net/static/movie/2012/06/dft_img203x290.png'">
                <h4>{{dir.dr_name}}</h4>
            </div>
            &nbsp;
            {% endfor %}
        </div>
    {% endif %}


</body>

</html>